*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body {
    height: 100%;
    overflow-y: hidden;
}


#menu-h ul{
    list-style: none;
    padding: 0;
    background-color: rgb(37, 37, 39);
    text-align: left;
}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .6s;
}

#menu-h ul li a:hover {
    background-color: rgba(19,31,105,255);
}

#menu-h ul li:last-child a {
    padding: 20px;
    display: inline;
    text-decoration: none;
    background-color: rgba(19,31,105,255);
    float: right;
}

header {
    background-image: url(logo.jpeg);
    padding: 15px;
    height: 100%;
    background-color: rgba(19,31,105,255);
    text-align: center;
    font-size: 10px;
    color: white;
}

header h1{
    padding: 50px;
}

header h2{
    padding: 20px;
    width: 75%;
}

header h3{
    padding: 20px;
    width: 75%;
}